# 配置文件
config.toml
# logs
**/logs
# VSCode工作区定义
SummerPythonModules.code-workspace
# 临时文件
tmp
# pytest相关
.coverage 
.pytest_cache
# python cache
**/__pycache__/
# macOS
.DS_Store
# poetry 构建目录
dist
# 虚拟环境
.venv
